@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);

body {
  overflow-y: scroll;
  padding-bottom: 20px;
}

body,
table.data.table-bordered td,
label {
  font-family: Source Sans Pro;
  color: #444;
  font-weight: 300;
}

h2,
h3,
h4,
.table th {
  font-weight: 600;
}

#desc { font-size: 16px; }

#desc span {
  color: #944;
  font-weight: 400;
}

#data {
  height: 350px;
  overflow-y: auto;
  padding: 0;
}

#data table { margin: 0 }
#data table td { width: 90px; }
#data table td:first-child { width: 180px; }
