export("%>%")
export(fitBounds)
export(leaflet)
export(leafletOutput)
export(mapCircle)
export(mapCircleMarker)
export(mapGeoJSON)
export(mapMarker)
export(mapPolygon)
export(mapPolyline)
export(mapPopup)
export(mapRectangle)
export(renderLeaflet)
export(setView)
export(tileLayer)
export(uspop2000)
importFrom(magrittr,"%>%")
