S3method("[",leaflet_icon_set)
S3method(pointData,SpatialPoints)
S3method(pointData,SpatialPointsDataFrame)
S3method(pointData,data.frame)
S3method(pointData,default)
S3method(pointData,matrix)
export("%>%")
export(JS)
export(WMSTileOptions)
export(addCircleMarkers)
export(addCircles)
export(addControl)
export(addGeoJSON)
export(addLayersControl)
export(addLegend)
export(addMarkers)
export(addPolygons)
export(addPolylines)
export(addPopups)
export(addProviderTiles)
export(addRasterImage)
export(addRectangles)
export(addTiles)
export(addTopoJSON)
export(addWMSTiles)
export(clearBounds)
export(clearControls)
export(clearGeoJSON)
export(clearGroup)
export(clearImages)
export(clearMarkerClusters)
export(clearMarkers)
export(clearPopups)
export(clearShapes)
export(clearTiles)
export(colorBin)
export(colorFactor)
export(colorNumeric)
export(colorQuantile)
export(createLeafletMap)
export(dispatch)
export(fitBounds)
export(hideGroup)
export(iconList)
export(icons)
export(invokeMethod)
export(labelFormat)
export(layersControlOptions)
export(leaflet)
export(leafletMap)
export(leafletOutput)
export(leafletProxy)
export(makeIcon)
export(mapOptions)
export(markerClusterOptions)
export(markerOptions)
export(pathOptions)
export(popupOptions)
export(previewColors)
export(projectRasterForLeaflet)
export(providerTileOptions)
export(removeControl)
export(removeGeoJSON)
export(removeImage)
export(removeLayersControl)
export(removeMarker)
export(removeMarkerCluster)
export(removeMarkerFromCluster)
export(removePopup)
export(removeShape)
export(removeTiles)
export(renderLeaflet)
export(setMaxBounds)
export(setView)
export(showGroup)
export(tileOptions)
importFrom(htmlwidgets,JS)
importFrom(magrittr,"%>%")
