export("%>%")
export(addMapCircleMarkers)
export(addMapCircles)
export(addMapGeoJSON)
export(addMapMarkers)
export(addMapPolygons)
export(addMapPolylines)
export(addMapPopups)
export(addMapRectangles)
export(addMapTiles)
export(fitMapBounds)
export(leaflet)
export(leafletOutput)
export(renderLeaflet)
export(setView)
export(uspop2000)
importFrom(magrittr,"%>%")
