<style type="text/css">
  body {
    padding-top: 20px;
  }
  .navbar-brand {
    font-weight: bold;
  }
  footer {
    border-top: 1px solid #CCC;
    margin-top: 60px;
    margin-bottom: 48px;
    opacity: 0.75;
  }
  .content-body>:first-child, .content-body>:first-child>:first-child {
    margin-top: 0 !important;
  }
  p code {
    white-space: inherit;
  }
</style>

<div class="fluid-row">
  <div class="col-sm-12">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="./">Leaflet for R</a>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="fluid-row">
  <div class="col-sm-3">
    <div class="list-group">
      <a class="list-group-item" href="./">Introduction</a>
      <a class="list-group-item" href="map_widget.html">The Map Widget</a>
      <a class="list-group-item" href="basemaps.html">Basemaps</a>
      <a class="list-group-item" href="markers.html">Markers</a>
      <a class="list-group-item" href="popups.html">Popups</a>
      <a class="list-group-item" href="shapes.html">Lines and Shapes</a>
      <a class="list-group-item" href="geojson.html">GeoJSON</a>
      <!--<a class="list-group-item" href="raster.html">Raster Images</a>-->
      <a class="list-group-item" href="shiny.html">Shiny Integration</a>
      <a class="list-group-item" href="colors.html">Colors</a>
      <a class="list-group-item" href="legends.html">Legends</a>
    </div>
    <script>
      // manage active state of toc based on current page
      var href = window.location.pathname;
      href = href.substr(href.lastIndexOf('/') + 1);
      if (href === "" || href === "index.html")
        href = "./";
      $('a.list-group-item[href="' + href + '"]').addClass('active');
    </script>
  </div>
  <div class="col-sm-9 content-body">
